@model IEnumerable<Data.ViewModel.DataModel>
@section Scripts
{
	<script>
		$(function () {
			$("#Data_SelectedList").change(function (e) {
				var val = $(this).val();
				$("#dataPartial").load("/Scores/DataGrid?stateId=" + val);
			});

            $('#showAll').click(function () {				
				var selectedStateId = $('#Data_SelectedList').val();

                if ($("#showAll").is(':checked')) {					
                    $("#dataPartial").load("/Scores/DataGrid?stateId=" + selectedStateId +"&showAll=1");
				}
				else {                    
                    $("#dataPartial").load("/Scores/DataGrid?stateId=" + selectedStateId + "&showAll=0");
                }
			});  
			
		});
	</script>
}
@{
	ViewBag.Title = "All data";
}

<h2>All data by state</h2>
<div class="col-md-3"></div>
<div class="row col-md-6">
    @{ List<SelectListItem> states = ViewData["States"] as List<SelectListItem>; }
    @Html.DropDownList("Data_SelectedList", states)
    <label class="form-check-label" for="defaultCheck1">Show All</label>
    @Html.CheckBox("showAll", false)

</div>
<div class="col-md-3"></div>
<br /><br />
<div id="dataPartial">
	@Html.Partial("DataGrid", Model)
</div>

